<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <input type="checkbox" id="navbar-toggle-cbox">

    <label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="navbar-toggler-icon"></span>
    </label>

    <a class="navbar-brand" href="/">Dungeon Arena</a>

    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% block nav_items %}
            <li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>
            {% endblock %}
        </ul>
    </div>

</nav>